/sandbox

/day-01/sample.txt
/day-01/sample_small.txt
/day-02/sample.txt
/day-02/sample_small.txt
/day-02/target
/day-03/sample.txt
/day-03/sample_small.txt
/day-03/sample_small2.txt
/day-04/sample.txt
/day-04/sample_small.txt
